     .inline{
       float:left;
     }
	 .inline-buttons{
       float:left;
	   margin-left:1vw;
     }
     .left{
       margin-left:1vw;
     }
     .lower{
       margin-bottom:1vw;
     }
	 .center{
	   text-align:center;
	 }
     .clear{
       clear:both
     }
	 .pagenation_center{
		margin-left:40%;
	 }