
.header-label{
	margin-left:2vw;
	margin-top:3vh;
	margin-bottom:-2vh;
}

.progress{
	margin-left:2vw;
	margin-right:2vw;
	margin-top:2vh;
	margin-bottom:2vh;
}

.main-container{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr;
	grid-column-gap:10px;
	grid-row-gap:10px;
	margin:15px;
}

.footer-pagenation{
	display:grid;
	justify-content:center;
	margin-top:2vh;
}

.panel-A{
	grid-template-columns:1fr;
	grid-template-rows:1fr;
}

.panel-B{
	grid-template-columns:1fr;
	grid-template-rows:1fr;
}

.panel-C{
	grid-template-columns:1fr;
	grid-template-rows:1fr;
}

.button-group{
	margin:5px;
	margin-top:0px;
}

.time-slots{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap:15px;
}