html, body { 
	margin: 0; 
	padding:0; 
	height:100%;
	overflow:hidden;	
}

#main-header{
	position:absolute;
	top: 5%;
	width: 100%;
	font-family:'Raleway', sans-serif;
	color:rgba(74,74,74,0.9);
	z-index:100;
	font-size:16px;
	text-align:center;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

#item:hover{
	color:white;
	cursor:pointer;
}

#main-body{
	margin: 0;
	padding: 0;
	height: 100%;
	position: fixed;
	z-index:-1;
}

#main-text {
	font-size:25px; 
	color:white; 
	position:absolute; 
	top: 44%; 
	width:100%; 
	text-align:center;
	margin-left:18px;
	z-index:100;
	font-family:'Raleway', sans-serif; 
	font-weight:100; 
	letter-spacing: 45px; 
	text-transform:uppercase;
}

#curtains {
	height:100%;
	z-index:10;
	background-color: black;
}

a {
	color:rgba(150, 150, 150, 0.75);
}

a:hover {
	color:white;
}

#container-A {
	position:absolute;
	top:25%;
	width:60%;
	margin-left:20%;
	margin-right:20%;
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
	background-color:rgba(15, 15, 15, 0.5);
	line-height:1.75;
	padding-left:1%;
	border-radius:25px;
	border-style:solid;
	border-color:rgba(73, 73, 73, 0.5);
	font-family:'Raleway', sans-serif;
	z-index:100;
}

#container-B {
	position:absolute;
	top:25%;
	margin-left:30%;
	margin-right:30%;
	background-color:rgba(15, 15, 15, 0.5);
	border-radius:25px;
	border-style:solid;
	border-color:rgba(73, 73, 73, 0.5);
	z-index:100;
}

#container-B input{
	width:81%;
	margin-left:9%;
	margin-right:10%;
	margin-top:2%;
	font-size:14px;
	border-radius:10px;
	padding-left:1%;
	line-height:1.75;
	background-color:rgba(255,255,255,0.4);
	border-color:rgba(73, 73, 73, 0.5);
}

#container-B textarea{
	width:81%;
	margin-left:9%;
	margin-right:10%;
	margin-top:5%;
	border-radius:10px;
	resize:none;
	line-height:1.75;
	font-size:14px;
	padding-left:1%;
	background-color:rgba(255,255,255,0.4);
	border-color:rgba(73, 73, 73, 0.5);
}

#container-B button{
	width:20%;
	margin-left:40%;
	margin-right:40%;
	margin-top:2%;
	margin-bottom:4%;
	padding:0px;
	font-weight:bold;
}

#about-me {
	color:white;
}

#about-me p{
	margin-top:-1%;
}

#software-skills{
	color:white;
}

#software-skills table{
	margin-top:-1%;
	width:100%;
}

#software-skills h3{
	margin-top:3%;
}

#previous-works{
	color:white;
}

#previous-works ul{
	margin-top:-1%;
}

#previous-works h3{
	margin-top:3%;
}

#contact-info {
	color:white;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 20;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #010101;
	border-radius: 50%;
	border-top: 16px solid #ffffff;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
